.navbar {
    width: 1440px;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    background-color: #55D6C2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 40, 0);
    margin: 0 auto;
}

.title {
        font-size: 1.8rem;
        color: #FFFFFF;
        font-style: italic;
        font-weight: 700;
        line-height: 5.6rem;
        margin-left: 1rem;
    
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Spacing between icons and buttons */
}

.navBtn {
    text-transform: none; /* Keeps button text case as is */
}

.navIcons {
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .navbar {
        width: 100vw;
        min-width: unset;
        max-width: unset;
    }
}
@media (max-width: 900px) {
    .navbar {
        width: 100vw;
        min-width: unset;
        max-width: unset;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
    }
}
